<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1b3a1">  <td>20/10/11 22:36:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestCase.fitbaseAppLaunch()[pri:0, instance:com.fitbase.qa.testcases.login.LoginTestCase@3c72f59f]">&gt;&gt;fitbaseAppLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1224347463</td>   <td></td> </tr>
<tr bgcolor="c1b3a1">  <td>20/10/11 22:36:51</td>   <td>15890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCase.verifyFitbaseAppValidLogin(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.testcases.login.LoginTestCase@3c72f59f]">verifyFitbaseAppValidLogin</td> 
  <td>main@1224347463</td>   <td></td> </tr>
</table>
