<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b8a0b8">  <td>20/11/03 23:08:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestCase.fitbaseAppLaunch()[pri:0, instance:com.fitbase.qa.testcases.login.LoginTestCase@27f723]">&gt;&gt;fitbaseAppLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@789219251</td>   <td></td> </tr>
<tr bgcolor="b8a0b8">  <td>20/11/03 23:09:03</td>   <td>20821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCase.verifyFitbaseAppValidLogin(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.testcases.login.LoginTestCase@27f723]">verifyFitbaseAppValidLogin</td> 
  <td>main@789219251</td>   <td></td> </tr>
</table>
